*/temp_files
learning_items
Summarizing\ Module/data
*/discussion.txt
*/literature
Summarizing\ Module/tests.py
Summarizing\ Module/pre-trained\ models
.DS_Store
Summarizing\ Module/.DS_Store
Summarizing Module/__pycache__/text_utils.cpython-37.pyc
Summarizing Module/__pycache__/manager.cpython-37.pyc
Summarizing\ Module/test_out*
*/temp.py
*/__pycache__
__pycache__
Summarizing\ Module/models.properties
Summarizing\ Module/decision_graph.png
Summarizing\ Module/final_doc.dat
Summarizing\ Module/cluster_output.dat
Summarizing\ Module/train_chunker.py
*/.vscode